*{
    margin:0px;
    padding: 0px;
}
#cuadro{
    width: 700px;
    background: url(Img/fondo.jpg);
    color:#ffffff;
    margin: auto;
    margin-top: 300px;
    padding: 5px 5px 30px 5px;
    border-top: 0;
    border-right: 0;  
}
.entrada{
    width: 500px;
    height: 40px;
    border-radius: 6px;
    
}
#titulo{
    font-size: 30px;
    font-family: fantasy;
}
